html,
body,
#container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.title {
  height: 50px;
}
.playground {
  display: flex;
  height: calc(100% - 50px);
}
.editor {
  height: 100%;
  width: 50%;

}
.parser {
  margin-left: 10px;
  height: 100%;
  width: 40%;
}

.editor-container {
  height: calc(100% - 50px);
  overflow: hidden;
  width: 100%;
}
